@charset "utf-8";

td { font-size: 10pt; font-weight: lighter; }

div.ewd_tree_defsize { width: 190px; }

div.ewd_tree_minsize { display: none; }

div.ewd_tree_maxsize { width: 350px; }

div.ewd_body_minsize { width: 100%; }

div.tree_view_area_190px { width: 190px; }

div#E3000_DIV { width: auto; }

#E3400_DIV { border-bottom: 1px solid rgb(233, 238, 234); background: rgb(255, 255, 255); padding-top: 5px; overflow: auto; }

#E3500_DIV { height: 35px; padding: 0px 5px; background: rgb(255, 255, 255); }

div#E5000_DIV { padding-top: 5px; height: 100%; overflow: auto; }

div#E2000_DIV { height: 100%; overflow: auto; }

div#ewd_tree_root { overflow: auto; height: 100%; float: left; background: rgb(255, 255, 255); border: 1px solid rgb(221, 221, 221); }

div#ewd_body_root { overflow: hidden; height: 100%; border-width: 0px 1px 1px; padding-top: 5px; }

td.loading { white-space: nowrap; width: 40px; table-layout: fixed; }

span#comp_msg { white-space: nowrap; }